 
/**
 * CSS with Vertical Rhythm, a tool by drewish.com 
 **/


body {
  font-size: 16px;
  font-family: "adobe-garamond-pro", Georgia, serif;
}

p {
  font-size: 1em; /* 16px */
  line-height: 1.25em; /* 20px */
  margin: 0 0 1.25em 0;
}
.class-for-48px,
header h1 {
  font-size: 3em; /* 48px */
  line-height: 1.25em; /* 60px */
  margin-top: 0.4167em;
  margin-bottom: 0em;
}
.class-for-28px,
article .year { 
  font-size: 1.75em; /* 28px */
  line-height: 1.4286em; /* 40px */
  margin-top: 0.7143em;
  margin-bottom: 0em;
}
.class-for-24px,
article h2 {
  font-size: 1.5em; /* 24px */
  line-height: 1.6667em; /* 40px */
  margin-top: 0.8333em;
  margin-bottom: 0em;
}
.class-for-22px {
  font-size: 1.375em; /* 22px */
  line-height: 1.8182em; /* 40px */
  margin-top: 0.9091em;
  margin-bottom: 0em;
}
.class-for-20px {
  font-size: 1.25em; /* 20px */
  line-height: 1em; /* 20px */
  margin-top: 1em;
  margin-bottom: 0em;
}
.class-for-18px,
header em,
article .month {
  font-size: 1.125em; /* 18px */
  line-height: 1.1111em; /* 20px */
  margin-top: 1.1111em;
  margin-bottom: 0em;
}
.class-for-16px,
article .tools {
  font-size: 1em; /* 16px */
  line-height: 1.25em; /* 20px */
  margin-top: 1.25em;
  margin-bottom: 0em;
}
.class-for-14px {
  font-size: 0.875em; /* 14px */
  line-height: 1.4286em; /* 20px */
  margin-top: 1.4286em;
  margin-bottom: 0em;
}

