@import "compass/css3";

$darkgrey: #999;

.accent-font,
header h1,
article .date,
footer {
	font-family: "raleway";
}
.container {
    margin: 0 auto;
}
header {
	text-align: center;
	padding: 2em 0;
	h1 {
		font-weight: normal;
		margin-bottom: 0.4167em;
		margin-top: 0em;
	}
	em {
		font-style: normal;
		display: block;
		font-family: "adobe-garamond-pro";
	}
}
article {
	overflow: auto;
	padding-bottom: 16em;
	position: relative;
	img {
		display: block;
		margin: 0 auto;
		@include box-shadow(#000 10px 10px 20px -10px);
		&.noshade {
			box-shadow: none;
		}
	}
	.date {
		.year,
		.month {
			display: block;
			text-align: right;
		}
		.month {
			margin-top: 0;			
		}
	}
	h2 {
		font-weight: normal;
	}
	.tools {
		list-style-type: none;
		padding-left: 0;
		color: $darkgrey;
		&:before {
			content: "Tools";
			text-transform: uppercase;
			display: block;
		}
		li {
			display: inline-block;
			&:before {
				content: "\00B7";
				padding-right: 2px;
			}
			&:first-of-type:before {
				content: "";
			}
		}
	}
}
footer {
	padding-bottom: 1em;
}
