<div class="class-for-28px">Lorem ipsum dolor sit amet</div>
<div class="class-for-24px">lorem ipsum dolor sit amet</div>
<div class="class-for-22px">lorem ipsum dolor sit amet</div>
<div class="class-for-20px">lorem ipsum dolor sit amet</div>
<div class="class-for-18px">lorem ipsum dolor sit amet</div>
<div class="class-for-16px">lorem ipsum dolor sit amet</div>
<div class="class-for-14px">lorem ipsum dolor sit amet</div>
<p>lorem ipsum dolor sit amet</p>